@font-face {
  font-family: "iconfont"; /* Project id 2676936 */
  src: url('~@/static/font/iconfont.woff2?t=1663407646278') format('woff2'),
       url('~@/static/font/iconfont.woff?t=1663407646278') format('woff'),
       url('~@/static/font/iconfont.ttf?t=1663407646278') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hongbao1:before {
  content: "\e784";
}

.icon-hongbao2:before {
  content: "\e60e";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shang:before {
  content: "\e604";
}

.icon-shoucang2:before {
  content: "\e8b9";
}

.icon-tianjia:before {
  content: "\e60d";
}

.icon-tishishuoming:before {
  content: "\e64c";
}

.icon-tishi:before {
  content: "\e713";
}

.icon-fuzhi:before {
  content: "\ec7a";
}

.icon-my:before {
  content: "\e78b";
}

.icon-dingdan:before {
  content: "\e73a";
}

.icon-create:before {
  content: "\e68b";
}

.icon-list-change:before {
  content: "\e693";
}

.icon-agent:before {
  content: "\e766";
}

.icon-weixin1:before {
  content: "\e603";
}

.icon-jubao2:before {
  content: "\e723";
}

.icon-dianhua:before {
  content: "\e71d";
}

.icon-zanwushuju:before {
  content: "\e61e";
}

.icon-down2:before {
  content: "\e602";
}

.icon-biaodan:before {
  content: "\e715";
}

.icon-dianpu4:before {
  content: "\e71b";
}

.icon-renminbi:before {
  content: "\e738";
}

.icon-shangpingouwudai:before {
  content: "\e788";
}

.icon-touxiang:before {
  content: "\e676";
}

.icon-wode-heise:before {
  content: "\e635";
}

.icon-mima1:before {
  content: "\e638";
}

.icon-arrow_right:before {
  content: "\e761";
}

.icon-shouji:before {
  content: "\e637";
}

.icon-yanzhengma:before {
  content: "\e636";
}

.icon-yaoqing1:before {
  content: "\e614";
}

.icon-gouxuan:before {
  content: "\e618";
}

.icon-yiquxiao:before {
  content: "\e616";
}

.icon-dianpu3:before {
  content: "\e739";
}

.icon-fangdou:before {
  content: "\e668";
}

.icon-lianhe:before {
  content: "\e61c";
}

.icon-zuanshi1:before {
  content: "\e711";
}

.icon-daifukuan1:before {
  content: "\ee8d";
}

.icon-daifahuo1:before {
  content: "\ee8e";
}

.icon-daishouhuo:before {
  content: "\ee8f";
}

.icon-shouhou1:before {
  content: "\ee97";
}

.icon-crown-fill:before {
  content: "\eb72";
}

.icon-aixin:before {
  content: "\f4cf";
}

.icon-hongbao:before {
  content: "\f4e6";
}

.icon-jiaoseguanli:before {
  content: "\f5bf";
}

.icon-yuyin:before {
  content: "\f5f1";
}

.icon-dingwei2:before {
  content: "\e633";
}

.icon-shuoming:before {
  content: "\f4f9";
}

.icon-zixun:before {
  content: "\f5bc";
}

.icon-jiankong:before {
  content: "\f5d6";
}

.icon-shouhou:before {
  content: "\f5dd";
}

.icon-gonglve:before {
  content: "\f5c1";
}

.icon-gouwucheman:before {
  content: "\e600";
}

.icon-zuanshi:before {
  content: "\e601";
}

.icon-dianpu:before {
  content: "\e608";
}

.icon-xiayibu:before {
  content: "\e6ba";
}

.icon-daohanggouwuche:before {
  content: "\e61d";
}

.icon-shoucang:before {
  content: "\e634";
}

.icon-gou1:before {
  content: "\e714";
}

.icon-kefu:before {
  content: "\e60b";
}

.icon-gengduo:before {
  content: "\e66a";
}

.icon-xingxing:before {
  content: "\e870";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-dianzan:before {
  content: "\e6ac";
}

.icon-pinglun1:before {
  content: "\e6b3";
}

.icon-liulan:before {
  content: "\e6b4";
}

.icon-icon_play:before {
  content: "\e60f";
}

.icon-xiala:before {
  content: "\e611";
}

.icon-fanhui:before {
  content: "\e610";
}

.icon-cuowu:before {
  content: "\e612";
}

.icon-fenxiang:before {
  content: "\e629";
}

.icon-xiaoxi:before {
  content: "\e613";
}

.icon-shibai:before {
  content: "\e6bd";
}

.icon-vip:before {
  content: "\e6c8";
}

.icon-kefu1:before {
  content: "\e6d3";
}

.icon-shouye:before {
  content: "\e6db";
}

.icon-wode_2:before {
  content: "\e6e3";
}

.icon-gouwuche:before {
  content: "\e6e5";
}

.icon-shequ:before {
  content: "\e6ec";
}

.icon-dingwei:before {
  content: "\e6d6";
}

.icon-qiehuan:before {
  content: "\e737";
}

.icon-dianpu1:before {
  content: "\f229";
}

.icon-daifahuo:before {
  content: "\e681";
}

.icon-bijibeifen2:before {
  content: "\e680";
}

.icon-daifukuan:before {
  content: "\e682";
}

.icon-daipingjia:before {
  content: "\e683";
}

.icon-tuikuan:before {
  content: "\e6a6";
}

.icon-bianji:before {
  content: "\f4d4";
}

.icon-ditu:before {
  content: "\f4d8";
}

.icon-dianpu2:before {
  content: "\f4dc";
}

.icon-dingwei1:before {
  content: "\f4df";
}

.icon-pingtai:before {
  content: "\f4ec";
}

.icon-yaoqing:before {
  content: "\f505";
}

.icon-zudui:before {
  content: "\f50f";
}

.icon-fabu:before {
  content: "\e770";
}

.icon-yue:before {
  content: "\f59a";
}

.icon-mima:before {
  content: "\f5ac";
}

.icon-shoucang1:before {
  content: "\f5af";
}

.icon-kaoqinshensu:before {
  content: "\f5b6";
}

.icon-daochu1024-29:before {
  content: "\e617";
}

.icon-baijiu:before {
  content: "\e606";
}

.icon-lvcha:before {
  content: "\e609";
}

.icon-chahu:before {
  content: "\e60a";
}

.icon-chayeguan:before {
  content: "\e60c";
}

.icon-rexiao:before {
  content: "\e607";
}

.icon-all_fill:before {
  content: "\e701";
}

.icon-pinglun:before {
  content: "\e6bf";
}

.icon-sousuo_2:before {
  content: "\e6d2";
}

.icon-fenlei_3:before {
  content: "\e6de";
}

.icon-hongjiu:before {
  content: "\f34b";
}

